<!doctype html>
<html ng-app="todoApp">
  <head>
    <script type="text/javascript" src="/static/js/libs/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/static/js/libs/angular/angular.js"></script>
    <script type="text/javascript" src="/static/js/todo.js"></script>
    <script type="text/javascript" src="/static/js/libs/bootstrap/dist/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/js/libs/bootstrap/dist/css/bootstrap.css">
  </head>
  <body>
    <div class="container">
      <div class="row">
        <h1>Todo</h1>
      </div>
      <div ng-controller="TodoController">
        <ul class="list-unstyled">
          <li ng-repeat="todo in todos">
            <div class="row">
              <div class="form-group">
                <input id="task{{todo._id}}" type="checkbox" ng-model="todo.done" ng-change="taskDone()">
                <span class="done-{{todo.done}}">{{todo.task}}</span>
                <button ng-click="taskDelete(todo)" type="button" class="btn btn-sm" aria-label="Remove Todo">
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                </button>
              </div>
            </div>
          </li>
        </ul>
        <form class="form-inline" ng-submit="addTodo()">
          <div class="row">
            <div class="panel panel-default">
              <div class="panel-body">
                <input type="text" ng-model="todoText" placeholder="add new todo here">
                <input class="btn btn-sm btn-primary" type="submit" value="add">
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
</html>